---
// interface Props {
//     title: string;
//     imageUrl: string;
//     description: string;
//     date: string;
// }


import {Formatter} from "@utils/formatter";
const {frontmatter, ...rest} = Astro.props;
const {title, image, description, date} = frontmatter;
const {url} = rest;
---

<div class="lg:flex">
    <img class="object-cover w-full h-56 rounded-lg lg:w-64"
         src={image}
         alt="">

    <div class="flex flex-col justify-between py-6 lg:mx-6">
        <a href={url} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
            {title}
        </a>
        <p>{description}</p>

        <span class="text-sm text-gray-500 dark:text-gray-300">On: {Formatter.formatDate(date)}</span>
    </div>
</div>